<div *ngIf="form; else Loading">
    <form [formGroup]="form" (ngSubmit)="submit()">
        <div
                class="form-control"
                [ngClass]="{invalid: form.get('title').touched && form.get('title').invalid}"
        >
            <label for="title">Назва поста </label>
            <input id="title" type="text" formControlName="title">
            <div
                    *ngIf="form.get('title').touched && form.get('title').invalid"
                    class="validation"
            >
                <small *ngIf="form.get('title').errors.required">
                    Введіть назву поста
                </small>
            </div>
            <label for="tag">Назва тега </label>
            <input id="tag" type="text" formControlName="tag">
            <div
                    *ngIf="form.get('tag').touched && form.get('tag').invalid"
                    class="validation"
            >
                <small *ngIf="form.get('tag').errors.required">
                    Введіть назву тега
                </small>
            </div>
        </div>
        <div class="form-control">
            <quill-editor formControlName="text"></quill-editor>
        </div>
        <button
                class="btn btn-primary"
                type="submit"
                [disabled]="form.invalid || submitted"
        >Обновити
        </button>
    </form>
</div>
<ng-template #Loading>
    <p class="text-center">
        Йде завантаження...
    </p>
</ng-template>
