<div *ngIf="posts.length; else loading">
    <div class="form-control">
        <input type="text" placeholder="Найти пост..." [(ngModel)]="searchStr" >
    </div>
    <p>Виберіть варіант сортування:</p>
    <div>
        <input type="checkbox" id="title" name="title " value="title"
               checked>
        <label for="title"> Title</label>n
    </div>
    <div>
        <input type="checkbox" id="tag" name="tag" value="tag" >
        <label for="tag"> Tag</label>
    </div>
    <table>
        <thead>
        <tr>
            <th>#</th>
            <th>Автор</th>
            <th>Назва</th>
            <th>Тег</th>
            <th>Дата</th>
            <th>Дія</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let post of posts | searchPosts:searchStr ; let idx = index">
            <td>{{ idx + 1 }}</td>
            <td>{{ post.author }}</td>
            <td>{{ post.title }}</td>
            <td>{{post.tag}}</td>
            <td>{{ post.date | date:'medium':null:'ua' }}</td>
            <td>
                <button
                        class="btn btn-link open"
                        [routerLink]="['/admin', 'post', post.id, 'edit' ]"
                >
                    Відкрити
                </button>
                <button>
                    <a (click)="remove(post.id)">Видалити</a>
                </button>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<ng-template #loading>
    <p class="text-center">Йде завантажиння...</p>
</ng-template>
